.rectangle {
   width: 140px; 
   height: 80px;
   background: blue;
}

.bottom-margin-0 {
	margin-bottom: 0em;
}

.top-padding-1-5 {
	padding-top: 1.5em !important;
}

.road-image {
	position: relative;
	z-index: -99;
}

.road-image > img {
	position: absolute;
	width: 100%;
}