<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/odometer.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/jquery.balloon.min.js"></script>
	<script src="js/justgage-1.1.0.min.js"></script>
	<script src="js/raphael-2.1.4.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	
</head>
<body ng-app="inplant" class="grey lighten-2">
	<div ng-controller="dashboard">
		<div style="width: 1080px;" class="container">
			<img src="img/background.png" style="width:1080px; position:absolute; z-index:-99;">
			<div style="margin-top: 0em;">
			<!-- Kargo & Timbang Masuk -->
				<div class="row">
					<!-- Cargo -->
					<div class="col s3 offset-s2">
						<div class="row bottom-margin-0 center-align" style="padding-top:10%; width:125%;">
							<div class="col offset-s1 s11">
								<div class="row" style="margin-top: 43%; margin-left: 15%">
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-red value">{{kargo.bag.avg | number:2}} Menit</div>
										</div>
									</div>
									<div class="col s5" style="padding-left: 0px;">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-red value">{{kargo.bag.cnt | number:2}} Unit</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<div class="row bottom-margin-0 center-align" style="width:125%;">
							<div class="col offset-s1 s11">
								<div class="row" style="margin-top: 7%; margin-left: 15%">
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-yellow value">{{kargo.bulk.cnt | number:2}} Menit</div>
										</div>
									</div>
									<div class="col s5" style="padding-left: 0px;">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-yellow value">{{kargo.bulk.cnt | number:2}} Unit</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Cargo -->

					<!-- Timbang -->
					<div class="col s3 offset-s1">
						<div class="row bottom-margin-0 center-align" style="padding-top:10%; width:125%;">
							<div class="col s11">
								<div class="row" style="margin-top: 43%; margin-left: 10%">
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-green value">{{tMasuk.bag.avg | number:2}} Menit</div>
										</div>
									</div>
									<div class="col s5" style="padding-left: 0px;">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-green value">{{tMasuk.bag.cnt | number:2}} Unit</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<div class="row bottom-margin-0 center-align" style="width:125%;">
							<div class="col s11">
								<div class="row" style="margin-top: 7%; margin-left: 10%">
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-green value">{{tMasuk.bulk.avg | number:2}} menit</div>
										</div>
									</div>
									<div class="col s5" style="padding-left: 0px;">
										<div style="width:100%;" class="center-align">
											<div class="bg-color-green value">{{tMasuk.bulk.cnt | number:2}} Unit</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Timbang -->
				</div>
			<!-- End of Kargo & Timbang Masuk -->
			</div>

			<!-- Delapan Kotak Hijau Tengah -->
			<!-- Baris 1 -->
			<div class="row" style="height: 200px; overflow: hidden;"> 
				<div class="col s9 offset-s3">
					<div class="container" style="width:80%;">
						<div style="margin-left: 5%;">
							<div class="row" style="margin-top: 12%;">
								<div ng-repeat="onePabrik in pabrikSemen">
									<div class="col s2" style="padding: 0em .2em; margin-left:3%; margin-right:3.5%;">
										<div class="transparent grey-text text-darken-4">
											<div style="width:100%;" class="center-align">
												<div class="bg-color-red value">{{onePabrik.average | number:2}} Menit</div>
											</div>
											<div style="width:100%; padding:0px; margin:10% 0% 0% 0%;" class="row center-align">
												<div class="col s3 bg-color-red counter" style="margin:0px;" ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2" style="margin-left:5px;display: inline-block; ">{{pack.jumlah}}</div>
												<div class="col s3 bg-color-yellow counter" style="margin:0px;" ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" style="margin-left:5px;display: inline-block;">{{pack.jumlah}}</div>
											</div>
										</div>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Baris 1 -->

			<!-- Baris 2 -->
			<div class="row bottom-margin-0" style="height: 200px; overflow: hidden;">
				<!-- Truk & Timbang Keluar -->
				<div class="col s3">
					<div class="row bottom-margin-0 center-align" style="margin-left:40%; margin-top: 25%;">
						<div style="position:absolute; width: 195px;">
							<div class="col s4" style="padding:0px; margin:0px;">
								<div style="width:100%;" class="center-align">
									<div class="bg-color-red value">{{tKeluar.bulk.avg | number:2}}</div>
								</div>
								<div style="width:100%; margin-top:65%;" class="center-align">
									<div class="bg-color-red value">{{tKeluar.bulk.cnt | number:2}}</div>
								</div>
							</div>
							<div class="col s4" style="padding:0px; margin:0px;">
								<div style="width:100%;" class="center-align">
									<div class="bg-color-yellow value">{{tKeluar.bag.avg | number:2}}</div>
								</div>
								<div style="width:100%; margin-top:65%;" class="center-align">
									<div class="bg-color-yellow value">{{tKeluar.bag.cnt | number:2}}</div>
								</div>
							</div>
							<div class="col s4" style="padding:0px; margin:0px;">
								<div style="width:100%;" class="center-align">
									<div class="bg-color-green value">{{tKeluar.bag.avg | number:2}}</div>
								</div>
								<div style="width:100%; margin-top:65%;" class="center-align">
									<div class="bg-color-green value">{{tKeluar.bag.cnt | number:2}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Truk & Timbang Keluar -->

				<div class="col s9">
					<div class="container" style="width:80%;">
						<div style="margin-left: 5%; margin-top:5%;">
							<div class="row bottom-margin-0">
								<div ng-repeat="onePabrik in pabrikSilo">
									<div class="col s2" style="padding: .2em .2em; margin-left:3%; margin-right:3.5%;">
										<div class="transparent grey-text text-darken-4">
											<div style="width:100%;" class="center-align">
												<div class="bg-color-green value">{{onePabrik.average | number:2}} Menit</div>
											</div>
											<div style="width:100%; padding:0px; margin:10% 0% 0% 0%;" class="row center-align">
												<div class="col s3 bg-color-green counter" style="margin:0px;" ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2"  style="margin-left:5px;display: inline-block;">{{pack.jumlah}}</div>
												<div class="col s3 bg-color-green counter" style="margin:0px;" ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" style="margin-left:5px;display: inline-block;">{{pack.jumlah}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Baris 2 -->
			<!-- End of Delapan Kotak Hijau Tengah -->		
		</div>
	</div>
</body>
</html>