<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/odometer.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/jquery.balloon.min.js"></script>
	<script src="js/justgage-1.1.0.min.js"></script>
	<script src="js/raphael-2.1.4.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	
</head>
<body ng-app="inplant" class="grey lighten-2">
	<div ng-controller="dashboard">
		<div style="width: 1080px;" class="container">
			<img src="img/background.png" style="width:1080px; position:absolute; z-index:-99;">
			<div style="margin-top: 0em;">
			<!-- Kargo & Timbang Masuk -->
				<div class="row">
					<!-- Cargo -->
					<div class="col s3 offset-s2">
						<div class="row bottom-margin-0 center-align" style="padding-top:10%;">
							<div class="col offset-s1 s10">
								<div class="row" style="margin-top: 11%;">
									<div class="col s3" style="padding-top:35%;">
										<div style="width:100%;" class="center-align">
											<div class="odometer" id="countcargobulk"></div>
										</div>
									</div>
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div id="gaugeKargoBulk"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<div class="row bottom-margin-0">
							<div class="col offset-s1 s10">
								<div class="row" style="margin-top: -41%;">
									<div class="col s3" style="padding-top:35%;">
										<div style="width:100%;" class="center-align">
											<div class="odometer" id="countcargobag"></div>
										</div>
									</div>
									<div class="col s7">
										<div style="width:100%;" class="center-align">
											<div id="gaugeKargoBag"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Cargo -->

					<!-- Timbang -->
					<div class="col s4 offset-s1">
						<div class="row bottom-margin-0 center-align" style="padding-top:15%;">
							<div class="col s4">
								<div style="width:100%;" class="center-align">
									<div id="gaugeTimbangBag"></div>
								</div>
								<div style="width:100%; margin-top: -30%;" class="center-align">
									<div class="odometer"></div>
								</div>
							</div>
							<div class="col s4">
								<div style="width:100%;" class="center-align">
									<div id="gaugeTimbangBulk"></div>
								</div>
								<div style="width:100%; margin-top: -30%;" class="center-align">
									<div class="odometer"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Timbang -->
				</div>
			<!-- End of Kargo & Timbang Masuk -->
			</div>

			<!-- Delapan Kotak Hijau Tengah -->
			<!-- Baris 1 -->
			<div class="row" style="height: 200px; overflow: hidden;"> 
				<div class="col s9 offset-s3">
					<div class="container" style="width:80%;">
						<div style="margin-left: 5%;">
							<div class="row" style="margin-top: -7%;">
								<div ng-repeat="onePabrik in pabrikSemen">
									<div class="col s2" style="padding: 0em .2em; margin-left:3%; margin-right:3.5%;">
										<div class="transparent grey-text text-lighten-5">
											<div style="width:100%;" class="center-align">
												<div id="gaugeSemen_{{onePabrik.no}}" class="grey-text text-lighten-5"></div>
											</div>
											<div style="width:100%;" class="center-align">
												<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2" id="pack_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block; ">123</div><br><br>
												<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" id="pack_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>		
											</div>
										</div>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Baris 1 -->

			<!-- Baris 2 -->
			<div class="row bottom-margin-0" style="margin-top: -7%; height: 200px; overflow: hidden;">
				<!-- Truk & Timbang Keluar -->
				<div class="col s3">
					<div class="row bottom-margin-0 center-align">
						<div class="col s6">
							<div style="width:100%;" class="center-align">
								<div id="gaugeCycleBag" ></div>
							</div>
							<div style="width:100%; margin-top: -20%;" class="center-align">
								<div class="odometer"></div>
							</div>
						</div>
						<div class="col s6">
							<div style="width:100%;" class="center-align">
								<div id="gaugeCycleBulk" ></div>
							</div>
							<div style="width:100%; margin-top: -20%;" class="center-align">
								<div class="odometer"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Truk & Timbang Keluar -->

				<div class="col s9">
					<div class="container" style="width:80%;">
						<div style="margin-left: 5%;">
							<div class="row bottom-margin-0">
								<div ng-repeat="onePabrik in pabrikSilo">
									<div class="col s2" style="padding: .2em .2em; margin-left:3%; margin-right:3.5%;">
										<div class="transparent grey-text text-lighten-5">
											<div style="width:100%;" class="center-align">
												<div id="gaugeSilo_{{onePabrik.no}}" ></div>
											</div>
											<div style="width:100%;" class="center-align">
												<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2" id="silo_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>
												<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" id="silo_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Baris 2 -->
			<!-- End of Delapan Kotak Hijau Tengah -->		
		</div>
	</div>
</body>
</html>