<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/odometer.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/justgage-1.1.0.min.js"></script>
	<script src="js/raphael-2.1.4.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	
</head>
<body ng-app="inplant" class="grey lighten-4">
	<div ng-controller="dashboard" class="container" style="margin-top: 2em;">
		<div class="row">

			<div class="col s6 offset-s1">
				<div class="row green hoverable" style="padding: 1em;">
					<div class="col s6">
						<div id="gaugeKargo" ></div>
					</div>
					<div class="col s6">
						<div class="row green darken-1" style="margin-bottom: 0.1em; ">
							<div class="col s12">
								<div class="row" style="padding: 0.5em;">
									<div class="col s6">
										<img src="img/mobil.png" style="height:50px; width:auto;">
									</div>
									<div class="col s6">
										<div class="odometer"></div>
									</div>
								</div>
							</div>	
						</div>
						<div class="row green darken-1" style="margin-bottom: 0em;">
							<div class="col s12">
								<div class="row" style="padding: 0.5em;">
									<div class="col s6">
										<img src="img/flatbed.svg" style="height:50px; width:auto;">
									</div>
									<div class="col s6">
										<div class="odometer"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col s3 offset-s2 green darken-1 hoverable" style="padding: 0.5em;">
				<div class="row transparent">
					<div class="col s12">
						<img src="img/flatbed.svg" style="height:50px; width:auto;">
					</div>
				</div>
				<div class="row transparent">
					<div class="col s12">
						<div class="odometer"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="onePabrik in pabrikSemen">
				<div class="col s3 transparent hoverable" style="padding: 0em .2em;">
					<div class="green lighten-3 grey-text text-lighten-5">
						<div style="width:100%;" class="center-align">
							<div id="gaugeSemen_{{onePabrik.no}}" class="grey-text text-lighten-5"></div>
						</div>
						<div style="width:100%;" class="center-align">
							<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2" id="pack_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block; ">123</div><br><br>
							<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" id="pack_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>		
						</div>
					</div>			
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="onePabrik in pabrikSilo">
				<div class="col s3 transparent hoverable" style="padding: .2em .2em;">
					<div class="green lighten-3 grey-text text-lighten-5">
						<div style="width:100%;" class="center-align">
							<div id="gaugeSilo_{{onePabrik.no}}" ></div>
						</div>
						<div style="width:100%;" class="center-align">
							<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no<onePabrik.pack.length/2" id="silo_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>
							<div ng-repeat="pack in onePabrik.pack" ng-if="pack.no>=onePabrik.pack.length/2" id="silo_{{onePabrik.no}}_{{pack.no}}" class="odometer" style="margin-left:5px;display: inline-block;">123</div><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6 green hoverable">
				<div class="row" style="padding: 0.5em; margin-bottom: 0em;">
					<div class="col s6">
						
						<div class="row green darken-2 grey-text text-lighten-5" style="padding: 1em; margin-bottom: 0.4em;">
							<div class="col s12">
								<div class="row">
									<div class="col s12">
										<img src="img/mobil.png" style="height:50px; width:auto;">
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										<div class="odometer"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row green darken-2 grey-text text-lighten-5" style="padding: 1em; margin-bottom: 0.5em;">
							<div class="col s12">
								<div class="row">
									<div class="col s12">
										<img src="img/flatbed.svg" style="height:50px; width:auto;">
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										<div class="odometer"></div>
									</div>
								</div>
							</div>				
						</div>

					</div>
					<div class="col s6 valign-wrapper" style="height:100%;">
						<div id="gaugeCycle" class="valign"></div>	
					</div>
				</div>
			</div>
		</div>
	<button ng-click="start()">click me!</button>
	</div>

</body>
</html>